@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Unbounded:wght@200..900&display=swap');
body{
	background-color: cornsilk;
}
img{
	width:500px;
	height: 534px;
}
p1{
	font-size: 18px;
	color: red;
	 font-family: "Unbounded", sans-serif;
}
p2{
	font-size: 22px;
	 font-family: "Unbounded", sans-serif;
}
p3{
	font-size: 23px;
	 font-family: "Unbounded", sans-serif;
}
h2{
	text-align: center;
}